.videoIcon { background-image: url(../images/sprite/sprit.png); background-position: 0px -125px; background-size: 107px 366px; width: 25px; height: 25px; }
.noticeIcon { background-image: url(../images/sprite/sprit.png); background-position: 0px -92px; background-size: 107px 366px; width: 25px; height: 25px; }

























