.aqwz { background-image: url(../images/sprite/imageSprite.png); background-position: -870px -172px; background-size: 1027px 717px; width: 126px; height: 48px;}
.bgimage { background-image: url(../images/sprite/imageSprite.png); background-position: 0px -650px; background-size: 1027px 717px; width: 700px; height: 34px; }
.chatlogo { background-image: url(../images/sprite/imageSprite.png); background-position: -918px -502px; background-size: 1027px 717px; width: 40px; height: 40px; }
.close2Icon { background-image: url(../images/sprite/imageSprite.png); background-position: -700px -602px; background-size: 1027px 717px; width: 26px; height: 26px; }
.closeIcon { background-image: url(../images/sprite/imageSprite.png); background-position: -1010px -253px; background-size: 1027px 717px; width: 17px; height: 17px; }
.closeMin { background-image: url(../images/sprite/imageSprite.png); background-position: -1010px -270px; background-size: 1027px 717px; width: 10px; height: 10px; }
.collectIcon { background-image: url(../images/sprite/imageSprite.png); background-position: -996px -172px; background-size: 1027px 717px; width: 26px; height: 26px; }
.courseIcon { background-image: url(../images/sprite/imageSprite.png); background-position: -752px -602px; background-size: 1027px 717px; width: 26px; height: 26px; }
.deskIcon { background-image: url(../images/sprite/imageSprite.png); background-position: -726px -602px; background-size: 1027px 717px; width: 26px; height: 26px; }
.flashIcon { background-image: url(../images/sprite/imageSprite.png); background-position: -970px -351px; background-size: 1027px 717px; width: 50px; height: 50px; }
.jiantou { background-image: url(../images/sprite/imageSprite.png); background-position: -978px -283px; background-size: 1027px 717px; width: 36px; height: 24px; }
.kefuIcon { background-image: url(../images/sprite/imageSprite.png); background-position: -870px -451px; background-size: 1027px 717px; width: 50px; height: 50px; }
.liaokuang { background-image: url(../images/sprite/imageSprite.png); background-position: -1010px -220px; background-size: 1027px 717px; width: 12px; height: 32px; }
.lingqu { background-image: url(../images/sprite/imageSprite.png); background-position: -978px -317px; background-size: 1027px 717px; width: 26px; height: 26px; }
.lingqukejian { background-image: url(../images/sprite/imageSprite.png); background-position: -958px -502px; background-size: 1027px 717px; width: 66px; height: 24px; }
.login { background-image: url(../images/sprite/imageSprite.png); background-position: -870px -317px; background-size: 1027px 717px; width: 108px; height: 34px; }
.login2 { background-image: url(../images/sprite/imageSprite.png); background-position: -700px -562px; background-size: 1027px 717px; width: 320px; height: 40px; }
.login_bg { background-image: url(../images/sprite/imageSprite.png); background-position: -700px -172px; background-size: 1027px 717px; width: 170px; height: 330px; }
.logo { background-image: url(../images/sprite/imageSprite.png); background-position: -700px -502px; background-size: 1027px 717px; width: 218px; height: 60px; }
.lqcl { background-image: url(../images/sprite/imageSprite.png); background-position: -870px -220px; background-size: 1027px 717px; width: 140px; height: 33px; }
.lqhl { background-image: url(../images/sprite/imageSprite.png); background-position: -870px -253px; background-size: 1027px 717px; width: 140px; height: 30px; }
.movie { background-image: url(../images/sprite/imageSprite.png); background-position: -870px -401px; background-size: 1027px 717px; width: 50px; height: 50px; }
.picture { background-image: url(../images/sprite/imageSprite.png); background-position: -778px -602px; background-size: 1027px 717px; width: 24px; height: 24px; }
.pointsIcon { background-image: url(../images/sprite/imageSprite.png); background-position: -996px -198px; background-size: 1027px 717px; width: 22px; height: 18px; }
.qq { background-image: url(../images/sprite/imageSprite.png); background-position: -1004px -317px; background-size: 1027px 717px; width: 20px; height: 24px; }
.qqmodal { background-image: url(../images/sprite/imageSprite.png); background-position: -700px 0px; background-size: 1027px 717px; width: 327px; height: 172px; }
.qqtalk { background-image: url(../images/sprite/imageSprite.png); background-position: -920px -451px; background-size: 1027px 717px; width: 92px; height: 22px; }
.random_bg { background-image: url(../images/sprite/imageSprite.png); background-position: 0px 0px; background-size: 1027px 717px; width: 700px; height: 350px; }
.red { background-image: url(../images/sprite/imageSprite.png); background-position: -918px -542px; background-size: 1027px 717px; width: 70px; height: 5px; }
.regist { background-image: url(../images/sprite/imageSprite.png); background-position: -870px -283px; background-size: 1027px 717px; width: 108px; height: 34px; }
.registerBg { background-image: url(../images/sprite/imageSprite.png); background-position: 0px -350px; background-size: 1027px 717px; width: 600px; height: 300px; }
.rili { background-image: url(../images/sprite/imageSprite.png); background-position: -970px -401px; background-size: 1027px 717px; width: 50px; height: 50px; }
.rilia { background-image: url(../images/sprite/imageSprite.png); background-position: -870px -351px; background-size: 1027px 717px; width: 50px; height: 50px; }
.ruanjianxiazai { background-image: url(../images/sprite/imageSprite.png); background-position: -920px -473px; background-size: 1027px 717px; width: 66px; height: 24px; }
.sd_fun { background-image: url(../images/sprite/imageSprite.png); background-position: 0px -684px; background-size: 1027px 717px; width: 676px; height: 33px; }
.smile { background-image: url(../images/sprite/imageSprite.png); background-position: -986px -473px; background-size: 1027px 717px; width: 24px; height: 24px; }
.tipsIcon { background-image: url(../images/sprite/imageSprite.png); background-position: -920px -401px; background-size: 1027px 717px; width: 50px; height: 50px; }
.xiazai { background-image: url(../images/sprite/imageSprite.png); background-position: -920px -351px; background-size: 1027px 717px; width: 50px; height: 50px; }

























