.aqwz { background-image: url(../images/sprite/imageSprite.png); background-position: -600px -330px; background-size: 770px 596px; width: 126px; height: 48px;}
.bgimage { background-image: url(../images/sprite/imageSprite.png); background-position: 0px -472px; background-size: 770px 596px; width: 700px; height: 34px; }
.chatlogo { background-image: url(../images/sprite/imageSprite.png); background-position: -726px -330px; background-size: 770px 596px; width: 40px; height: 40px; }
.close2Icon { background-image: url(../images/sprite/imageSprite.png); background-position: -740px -411px; background-size: 770px 596px; width: 26px; height: 26px; }
.closeIcon { background-image: url(../images/sprite/imageSprite.png); background-position: -714px -441px; background-size: 770px 596px; width: 17px; height: 17px; }
.closeMin { background-image: url(../images/sprite/imageSprite.png); background-position: -731px -441px; background-size: 770px 596px; width: 10px; height: 10px; }
.collectIcon { background-image: url(../images/sprite/imageSprite.png); background-position: -700px -472px; background-size: 770px 596px; width: 26px; height: 26px; }
.courseIcon { background-image: url(../images/sprite/imageSprite.png); background-position: -726px -472px; background-size: 770px 596px; width: 26px; height: 26px; }
.deskIcon { background-image: url(../images/sprite/imageSprite.png); background-position: -740px -378px; background-size: 770px 596px; width: 26px; height: 26px; }
.flashIcon { background-image: url(../images/sprite/imageSprite.png); background-position: -477px -394px; background-size: 770px 596px; width: 50px; height: 50px; }
.jiantou { background-image: url(../images/sprite/imageSprite.png); background-position: -543px -360px; background-size: 770px 596px; width: 36px; height: 24px; }
.kefuIcon { background-image: url(../images/sprite/imageSprite.png); background-position: 0px -546px; background-size: 770px 596px; width: 50px; height: 50px; }
.liaokuang { background-image: url(../images/sprite/imageSprite.png); background-position: -577px -394px; background-size: 770px 596px; width: 12px; height: 32px; }
.lingqu { background-image: url(../images/sprite/imageSprite.png); background-position: -320px -506px; background-size: 770px 596px; width: 26px; height: 26px; }
.lingqukejian { background-image: url(../images/sprite/imageSprite.png); background-position: -393px -444px; background-size: 770px 596px; width: 66px; height: 24px; }
.login { background-image: url(../images/sprite/imageSprite.png); background-position: -435px -360px; background-size: 770px 596px; width: 108px; height: 34px; }
.login2 { background-image: url(../images/sprite/imageSprite.png); background-position: 0px -506px; background-size: 770px 596px; width: 380px; height: 40px; }
.login_bg { background-image: url(../images/sprite/imageSprite.png); background-position: -600px 0px; background-size: 770px 596px; width: 170px; height: 330px; }
.logo { background-image: url(../images/sprite/imageSprite.png); background-position: -327px -300px; background-size: 770px 596px; width: 218px; height: 60px; }
.lqcl { background-image: url(../images/sprite/imageSprite.png); background-position: -600px -378px; background-size: 770px 596px; width: 140px; height: 33px; }
.lqhl { background-image: url(../images/sprite/imageSprite.png); background-position: -600px -411px; background-size: 770px 596px; width: 140px; height: 30px; }
.movie { background-image: url(../images/sprite/imageSprite.png); background-position: -545px -300px; background-size: 770px 596px; width: 50px; height: 50px; }
.picture { background-image: url(../images/sprite/imageSprite.png); background-position: -459px -444px; background-size: 770px 596px; width: 24px; height: 24px; }
.pointsIcon { background-image: url(../images/sprite/imageSprite.png); background-position: -692px -441px; background-size: 770px 596px; width: 22px; height: 18px; }
.qq { background-image: url(../images/sprite/imageSprite.png); background-position: -579px -360px; background-size: 770px 596px; width: 20px; height: 24px; }
.qqmodal { background-image: url(../images/sprite/imageSprite.png); background-position: 0px -300px; background-size: 770px 596px; width: 327px; height: 172px; }
.qqtalk { background-image: url(../images/sprite/imageSprite.png); background-position: -600px -441px; background-size: 770px 596px; width: 92px; height: 22px; }
.red { background-image: url(../images/sprite/imageSprite.png); background-position: -600px -463px; background-size: 770px 596px; width: 70px; height: 5px; }
.regist { background-image: url(../images/sprite/imageSprite.png); background-position: -327px -360px; background-size: 770px 596px; width: 108px; height: 34px; }
.registerBg { background-image: url(../images/sprite/imageSprite.png); background-position: 0px 0px; background-size: 770px 596px; width: 600px; height: 300px; }
.rili { background-image: url(../images/sprite/imageSprite.png); background-position: -377px -394px; background-size: 770px 596px; width: 50px; height: 50px; }
.rilia { background-image: url(../images/sprite/imageSprite.png); background-position: -327px -394px; background-size: 770px 596px; width: 50px; height: 50px; }
.ruanjianxiazai { background-image: url(../images/sprite/imageSprite.png); background-position: -327px -444px; background-size: 770px 596px; width: 66px; height: 24px; }
.smile { background-image: url(../images/sprite/imageSprite.png); background-position: -483px -444px; background-size: 770px 596px; width: 24px; height: 24px; }
.tipsIcon { background-image: url(../images/sprite/imageSprite.png); background-position: -527px -394px; background-size: 770px 596px; width: 50px; height: 50px; }
.xiazai { background-image: url(../images/sprite/imageSprite.png); background-position: -427px -394px; background-size: 770px 596px; width: 50px; height: 50px; }

























