.clearFix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

#indexPage {
    //height: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: url("../images/icon/background.jpg") no-repeat center;
    background-size: cover;
}
.headerNav {
    width: 100%;
    height: 60px;
    background: #4c7ec8;
    margin-bottom: 3px;
    .logoWrapper {
    }
    .logoWrapper, .webOperateWrapper {
        float: left;
    }
    .webOperateWrapper {
        margin-left: 14px;
        &, a {
            display: flex;
            align-items:center;
        }
        a:not(:last-child) {
            padding: 0 12px 0 10px;
            cursor: pointer;
            font-size: 16px;
            line-height: 60px;
            color: #fff100;
            font-weight: 900;
            i {
                margin-right: 6px;
            }
        }
    }
    .userInfoWrapper {
        height: 100%;
        float: right;
        display: flex;
        align-items: center;
        .userName {
            margin-right: 32px;
            color: #fff;
            font-weight: 900;
        }
        a {
            margin-right: 10px;
            cursor: pointer;
        }
    }
}

.indexContent {
    //height: ~'calc(100% - 81px)';
    height: ~'calc(100% - 81px)';
    min-height: 638px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    position: relative;
    .asideNav {
        width: 88px;
        height: 100%;
        overflow: auto;
        margin-right: 2px;
        border-radius: 5px;
        background: linear-gradient(to bottom, #5674a3, #2d4676);
        a, span {
            display: block;
            text-align: center;
        }
        a {
            padding: 10px 0 13px;
            border-bottom: 1px solid #182753;
            color: #fff;
            cursor: pointer;
            font-size: 14px;
            line-height: 14px;
            font-weight: 900;
            span {
                margin-top: 6px;
            }
        }
    }
    .videoWrapper {
        width: 50%;
        .videoInfo {
            height: 25px;
            color: #fff;
            font-weight: 400;
            line-height: 25px;
            padding: 0 5px;
            border-radius: 5px 5px 0 0;
            background: #68556d;
            .reFreshBtn {
                font-size: 16px;
            }
            i {
                float: left;
            }
            a:not(:last-child) {
                margin-left: 2%;
                float: left;
                cursor: pointer;
                &:hover {
                    opacity: .6;
                }
            }
            a:last-child {
                float: right;
            }
            .countEle {
                color: #fcff00;
            }
        }
        .videoPlayer {
            height: 68%;
            background: #000000;
            border-radius: 0 0 5px 5px;
        }
        .videoBanner {
            height: ~'calc(32% - 28px)';
            background: rgba(51,51,51,0.4);
            margin-top: 2px;
            border-radius: 5px;
            padding: 0 10px;
            .videoNav {
                height: 34px;
                margin-bottom: 5px;
                border-bottom: 2px solid #fff;
                display: flex;
                align-items: center;
                justify-content: space-around;
                line-height: 36px;
                color: #fff;
                font-weight: 700;
                .videoNavItem {
                    cursor: pointer;
                    border-bottom: 2px solid;
                }
                .hoverItem {
                    border-color: #da420c;
                }
            }
            .videoNavImg {
                width: 100%;
                display: none;
            }
            .imgShowItem {
                display: block;
            }
        }
    }
    .chatWrapper {
        width: ~'calc(50% - 90px)';
        height: 100%;
        margin-left: 2px;
        .chatNotice {
            height: 25px;
            display: flex;
            border-bottom: 1px solid #fff;
            i {
                display: inline-block;
                margin: 0 2%;
            }
            marquee {
                font-size: 14px;
                color: #fff100;
                font-weight: 700;
            }
        }
        .chatRecord {
            height: 68%;
            overflow: auto;
            position: relative;
            padding-right: 22px;
            .chatAds {
                position: absolute;
                right: 30px;
                top: 0;
                z-index: 1;
            }
            .chatRecordItem {
                margin-top: 8px;
                .sendTime, .senderSign, .msgWrapper, .senderName, .msgContent {
                    float: left;
                }
                .senderSign {
                    margin: 0 6px;
                    height: 32px;
                }
                .sendTime {
                    padding: 5px 0;
                    width: 54px;
                    text-align: center;
                    background: #78aed6;
                    border-radius: 5px;
                    color: #fff;
                }
                .msgWrapper {
                    width: ~'calc(100% - 130px)';
                }
                .senderName {
                    width: 20%;
                    cursor: pointer;
                    background: #4153b0;
                    color: #fff;
                    font-size: 12px;
                    font-weight: 400;
                    padding: 8px 10px;
                    border-radius: 5px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    word-break: break-word;
                }
                .msgContent {
                    display: flex;
                    width: ~'calc(80% - 32px)';
                    position: relative;
                    padding-left: 12px;
                    .liaokuang {
                        position: absolute;
                        left: 5px;
                        top: 0;
                    }
                    .contentText {
                        font-size: 16px;
                        font-weight: 400;
                        color: #333;
                        background: #fff;
                        padding: 6px 12px;
                        border-radius: 5px;
                    }
                }
            }
        }
        .msgSendWrapper {
            height: ~'calc(32% - 28px)';
            background: rgba(51, 51, 51, 0.4);
            border-radius: 5px;
            .msgSenderHeader {
                height: 30px;
                background: rgba(51,51,51,.4);
                border-radius: 5px 5px 0 0;
                line-height: 30px;
                text-align: center;
                color: #f33;
                font-weight: 700;
                font-size: 14px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                word-break: break-word;
            }
            .customerWrapper {
                display: flex;
                padding: 0 8px;
                .customerItem {
                    display: flex;
                    align-items: center;
                    justify-content:center;
                    cursor: pointer;
                    margin: 8px 5px 0 0;
                    background: url("../images/icon/1pxBg.png");
                    width: 90px;
                    height: 30px;
                    border-radius: 3px;
                    font-weight: 700;
                    text-align: center;
                    color: #333;
                    line-height: 30px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    word-break: break-word;
                    .qq {
                        margin: 0 4px;
                    }
                }
            }
            .msgSendOperate {
                color: #e5e5e5;
                padding: 8px 26px 0 8px;
                .opeItem {
                    float: left;
                    display: flex;
                    height: 24px;
                    cursor: pointer;
                    align-items: center;
                    padding: 0 4px;
                    border: 1px solid #ddd;
                    border-radius: 3px;
                    margin-right: 4px;
                    i {margin-right: 4px;}
                }
                .recordZonOperate {
                    float: left;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    border-radius: 2px;
                    height: 26px;
                    background-color: #fff;
                    color: #52697e;
                    padding: 0 4px;
                    margin-right: 4px;
                }
                .funcLink {
                    float: right;
                    margin: 2px 4px 0 0;
                }
            }
            .msgTextArea {
                padding-left: 8px;
                margin-top: 15px;
                .msgIpt {
                    width: ~'calc(100% - 100px)';
                    height: 50px;
                    padding-left: 10px;
                    color: #fff;
                    background: transparent;
                    border: 1px solid #ddd;
                    border-radius: 3px;
                    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                        color: #fff100;
                        font-size: 16px;
                        font-weight: 400;
                    }
                    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                        color: #fff100;
                        font-size: 16px;
                        font-weight: 400;
                    }
                    &::-moz-placeholder { /* Mozilla Firefox 19+ */
                        color: #fff100;
                        font-size: 16px;
                        font-weight: 400;
                    }
                    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                        color: #fff100;
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
                .msgSendBtn {
                    display: inline-block;
                    width: 60px;
                    height: 44px;
                    border-radius: 5px;
                    background: #eb6100;
                    font-size: 18px;
                    color: #fff;
                    line-height: 44px;
                    text-align: center;
                    cursor: pointer;
                }
            }
        }

    }
    .asideRightTab {
        position: absolute;
        transition:all .3s;
        top: 90px;
        right: -50px;
        a{
            display:block;
            width:14px;
            padding:5px 8px;
            margin-bottom: 5px;
            cursor: pointer;
            line-height:14px;
            text-align:center;
            font-size:14px;
            font-weight:900;
            color:#fff;
            border-radius: 5px 0 0 5px;
            &:not(:last-child):hover {
                background: #fff;
            }
            &:nth-child(1){
                background:#eeab40;
                &:hover {
                    color: #eeab40;
                }
            }
            &:nth-child(2){
                background:#de6810;
                &:hover {
                    color: #de6810;
                }
            }
            &:nth-child(3){
                background:#57b6ec;
                &:hover {
                    color: #57b6ec;
                }
            }
            &:nth-child(4){
                background:#c463ee;
                &:hover {
                    color: #c463ee;
                }
            }
            &:nth-child(5){
                background:#eb6877;
                &:hover {
                    color: #eb6877;
                }
            }
            &:nth-child(5){
                background:#2f5897;
                &:hover {
                    color: #eeab40;
                }
            }
            &:nth-child(6){
                background:#2f5897;
                &:hover {
                    opacity: .8;
                }
            }
        }
        .serviceTabOpen {
            background: #f04545!important;
            &:hover {
                background: #fff!important;
                color: #f04545!important;
            }
        }
    }
    .singleTab {
        top: 30%;
    }
    .asideShow {
        right: 0;
    }


}
.loginWrapper, .registerWrapper, .indexNameModal, .fiveMinutesWrapper {
    display: none;
}
.layui-layer {
    .layui-layer-setwin .layui-layer-close2 {
        width: 32px;
        height: 32px;
        top: -15px;
        right: -15px;
        margin-left: 0;
        opacity: 0;
    }
    .registerWrapper, .indexNameModal, .fiveMinutesWrapper {
        display: block;
        position: relative;
    }
}
.layui-layer .fiveMinutesWrapper {
    position: relative;
    .tipHeader {
        color: #ffcc69;
        padding: 22px 0;
        font-size: 30px;
        line-height: 38px;
        text-align: center;
        font-weight: 700;
    }
    .closeBtn {
        position: absolute;
        right: 0;
        top: 0;
    }
}
.layui-layer .indexNameModal {
    height: 427px;
    position: relative;
    .closeBtn {
        position: absolute;
        right: 0;
        top: 0;
    }
    .nameTips {
        color: #f4c262;
        font-size: 12px;
        font-weight: 700;
        text-align: center;
        padding-top: 12px;
    }
    .nameMsgWrapper {
        display: flex;
        align-items:center;
        justify-content: center;
        margin-top: 5px;
        .nameIpt {
            color: #353535;
            text-indent: 1em;
            font-weight: 400;
            &::after {
                display: inline-block;
                width: 36px;
                height: 36px;
                background: url("../images/sprite/indexModal.png") no-repeat center;
            }
        }
        .nameConfirmBtn {
            display: inline-block;
            margin-left: 10px;
        }
        .errorTips {
            color: red;
            font-size: 16px;
            font-weight: 700;
            margin-left: 10px;
            display: none;
        }
    }
    .nameAds {
        margin-top: 10px;
    }
    .customerWrapper {
        display: flex;
        background: #2a2a2a;
        height: 76px;
        overflow: hidden;
        padding-left: 22px;
        .customerItem {
            display: flex;
            align-items: center;
            cursor: pointer;
            margin: 8px 0 0 13px;
            background: url("../images/icon/1pxBg.png");
            width: 90px;
            height: 30px;
            border-radius: 3px;
            font-weight: 700;
            text-align: center;
            color: #333;
            line-height: 30px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: break-word;
            .qq {
                margin: 0 4px;
            }
        }
    }
    .bgimage {
        background-color: #2a2a2a;
    }

}
.layui-layer .registerWrapper {
    .closeRegisterModal {
        position: absolute;
        width: 56px;
        height: 34px;
        right: 0;
        top: 0;
    }
    .contactCustomer {
        position: absolute;
        width: 164px;
        height: 30px;
        bottom: 23px;
        left: ~'calc(50% - 82px)'
    }
}
.layui-layer .loginWrapper {
    display: flex!important;
    .login_bg {
        text-align: center;
        span {
            font-size: 26px;
            color: #fdca16;
            font-weight: 400;
            line-height: 4;
            text-align: center;
        }
    }
    .layui-form {
        width: ~'calc(100% - 170px)';
        background: #efefef;
        .loginHeader {
            font-size: 24px;
            color: #5e5e5e;
            margin: 20px 0;
            text-align: center;
            font-weight: 400;
        }
        .layui-form-item {
            &:nth-child(4) {
                display: flex;
                justify-content: space-around;
                align-items: center;
                .layui-form-checked[lay-skin=primary] i {
                    border-color: #0684ea;
                    background-color: #0684ea;
                }
                .passWordOperate {
                    margin-left: 50px;
                    a {
                        color: #ff866f!important;
                        cursor: pointer;
                        &:hover {
                            border-bottom: 1px solid #ff866f;
                        }
                    }
                }
            }
            &:nth-child(5) {
                .layui-input-block {
                    display: flex;
                    justify-content: center;
                }
            }

        }
        .layui-input-block {
            margin: 0 15px;
            .layui-input {
                height: 44px;
            }
        }
    }
}
.indexFooter {
    color: #fff;
    font-size: 12px;
    font-weight:400;
    text-align: center;
}
@media screen and (max-width: 1192px){
    .webOperateWrapper {
        display: none!important;
    }
}
@media screen and (max-width: 768px){

}
