.clearFix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

#indexPage {
    //height: 100%;
    min-height: 100%;
    background: url("../images/icon/background.jpg") no-repeat center;
    background-size: cover;
}
.headerNav {
    width: 100%;
    height: 60px;
    background: #4c7ec8;
    margin-bottom: 3px;
    .logoWrapper {
    }
    .logoWrapper, .webOperateWrapper {
        float: left;
    }
    .webOperateWrapper {
        margin-left: 14px;
        &, a {
            display: flex;
            align-items:center;
        }
        a:not(:last-child) {
            padding: 0 12px 0 10px;
            cursor: pointer;
            font-size: 16px;
            line-height: 60px;
            color: #fff100;
            font-weight: 900;
            i {
                margin-right: 6px;
            }
        }
    }
    .userInfoWrapper {
        height: 100%;
        float: right;
        display: flex;
        align-items: center;
        .userName {
            margin-right: 32px;
            color: #fff;
            font-weight: 900;
        }
        a {
            margin-right: 10px;
            cursor: pointer;
        }
    }
}

.indexContent {
    //height: ~'calc(100% - 81px)';
    //overflow: auto;
    min-height: ~'calc(100% - 81px)';
    display: flex;
    .asideNav {
        width: 88px;
        margin-right: 2px;
        border-radius: 5px;
        background: linear-gradient(to bottom, #5674a3, #2d4676);
        a, span {
            display: block;
            text-align: center;
        }
        a {
            padding: 10px 0 13px;
            border-bottom: 1px solid #182753;
            color: #fff;
            cursor: pointer;
            font-size: 14px;
            line-height: 14px;
            font-weight: 900;
            span {
                margin-top: 6px;
            }
        }
    }
    .videoWrapper {
        width: 50%;
        .videoInfo {
            height: 25px;
            color: #fff;
            font-weight: 400;
            line-height: 25px;
            padding: 0 5px;
            border-radius: 5px 5px 0 0;
            background: #68556d;
            .reFreshBtn {
                font-size: 16px;
            }
            i {
                float: left;
            }
            a:not(:last-child) {
                margin-left: 2%;
                float: left;
                cursor: pointer;
                &:hover {
                    opacity: .6;
                }
            }
            a:last-child {
                float: right;
            }
            .countEle {
                color: #fcff00;
            }
        }
        .videoPlayer {
            height: 200px;
            background: #000000;
            border-radius: 0 0 5px 5px;
        }
        .videoBanner {
            height: 179px;
            background: rgba(51,51,51,0.4);
            margin-top: 2px;
            border-radius: 5px;
            padding: 0 10px;
            .videoNav {
                height: 34px;
                margin-bottom: 5px;
                border-bottom: 2px solid #fff;
                display: flex;
                align-items: center;
                justify-content: space-around;
                line-height: 36px;
                color: #fff;
                font-weight: 700;
                .videoNavItem {
                    cursor: pointer;
                    border-bottom: 2px solid;
                }
                .hoverItem {
                    border-color: #da420c;
                }
            }
            .videoNavImg {
                width: 100%;
                display: none;
            }
            .defaultItem {
                display: block;
            }
        }
    }
    .chatWrapper {
        width: ~'calc(50% - 90px)';
        margin-left: 2px;
        .chatNotice {
            height: 25px;
            display: flex;
            border-bottom: 1px solid #fff;
            i {
                display: inline-block;
                margin: 0 2%;
            }
            marquee {
                font-size: 14px;
                color: #fff100;
                font-weight: 700;
            }
        }
    }
    .asideRightTab {
        position: fixed;
        transition:all .3s;
        top: 90px;
        right: -50px;
        a{
            display:block;
            width:14px;
            padding:5px 8px;
            margin-bottom: 5px;
            cursor: pointer;
            line-height:14px;
            text-align:center;
            font-size:14px;
            font-weight:900;
            color:#fff;
            border-radius: 5px 0 0 5px;
            &:not(:last-child):hover {
                background: #fff;
            }
            &:nth-child(1){
                background:#eeab40;
                &:hover {
                    color: #eeab40;
                }
            }
            &:nth-child(2){
                background:#de6810;
                &:hover {
                    color: #de6810;
                }
            }
            &:nth-child(3){
                background:#57b6ec;
                &:hover {
                    color: #57b6ec;
                }
            }
            &:nth-child(4){
                background:#c463ee;
                &:hover {
                    color: #c463ee;
                }
            }
            &:nth-child(5){
                background:#eb6877;
                &:hover {
                    color: #eb6877;
                }
            }
            &:nth-child(5){
                background:#2f5897;
                &:hover {
                    color: #eeab40;
                }
            }
            &:nth-child(6){
                background:#2f5897;
                &:hover {
                    opacity: .8;
                }
            }
        }
        .serviceTabOpen {
            background: #f04545!important;
            &:hover {
                background: #fff!important;
                color: #f04545!important;
            }
        }
    }
    .singleTab {
        top: 30%;
    }
    .asideShow {
        right: 0;
    }


}
.loginWrapper, .registerWrapper {
    display: none;
}
.layui-layer .registerWrapper {
    display: block;
    position: relative;
    .closeRegisterModal {
        position: absolute;
        width: 56px;
        height: 34px;
        right: 0;
        top: 0;
    }
    .contactCustomer {
        position: absolute;
        width: 164px;
        height: 30px;
        bottom: 23px;
        left: ~'calc(50% - 82px)'
    }
}
.layui-layer .loginWrapper {
    display: flex!important;
    .login_bg {
        text-align: center;
        span {
            font-size: 26px;
            color: #fdca16;
            font-weight: 400;
            line-height: 4;
            text-align: center;
        }
    }
    .layui-form {
        width: ~'calc(100% - 170px)';
        background: #efefef;
        .loginHeader {
            font-size: 24px;
            color: #5e5e5e;
            margin: 20px 0;
            text-align: center;
            font-weight: 400;
        }
        .layui-form-item {
            &:nth-child(4) {
                display: flex;
                justify-content: space-around;
                align-items: center;
                .layui-form-checked[lay-skin=primary] i {
                    border-color: #0684ea;
                    background-color: #0684ea;
                }
                .passWordOperate {
                    margin-left: 50px;
                    a {
                        color: #ff866f!important;
                        cursor: pointer;
                        &:hover {
                            border-bottom: 1px solid #ff866f;
                        }
                    }
                }
            }
            &:nth-child(5) {
                .layui-input-block {
                    display: flex;
                    justify-content: center;
                }
            }

        }
        .layui-input-block {
            margin: 0 15px;
            .layui-input {
                height: 44px;
            }
        }
    }
}
.indexFooter {
    color: #fff;
    font-size: 12px;
    font-weight:400;
    text-align: center;
}
@media screen and (max-width: 1192px){
    .webOperateWrapper {
        display: none!important;
    }
}
@media screen and (max-width: 768px){

}
